:root {
  --color: #ffffff;
  --background: #000000;
}

body {
  color: var(--color);
  min-width: 100vw;
  min-height: 100vh;
  background: var(--background)
}

#app {
  width: 100vw;
  height: 100vh;
}
