@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color: #ffffff;
  --background: #000000;
}

body {
  color: var(--color);
  min-width: 100vw;
  min-height: 100vh;
  background: var(--background);

  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#app {
  width: 100vw;
  height: 100vh;
}
