@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #000000;
  --secondary: #ffffff;
}

@layer components {
  .sm-icon {
    @apply h-6 w-6 p-0 bg-[var(--secondary)] text-[var(--primary)];
  }
  .bg-primary {
    @apply bg-[var(--primary)]
  }
}

body {
  color: var(--secondary);
  min-width: 100vw;
  min-height: 100vh;
  background: var(--primary);

  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;

}

button, input, .m-tap-highlight {
  -webkit-tap-highlight-color : transparent !important;
}


#app {
  width: 100vw;
  height: 100vh;
}
